{erl_opts, [debug_info, {parse_transform}]}.
{cover_enabled, true}.

{deps, [
    {meck, "",
       {git, "git://github.com/eproxus/meck.git", {branch, "master"}}},
    {eunit_formatters, ".*",
        {git, "git://github.com/seancribbs/eunit_formatters", {tag, "0.1.2"}}}
]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
{eunit_opts, [verbose,
              no_tty,
              {report, {eunit_progress, [colored]}}]}.

{xref_checks, [undefined_function_calls]}.
